
singularity {
  enabled = true
  autoMounts = true
}

params {
  // Default params
  n_cases = 0 
  n_vars  = 1
}

process {
  withLabel: 'rocker' {
    container = 'rocker/tidyverse:latest'
  }
}

profiles {
  // Resource profiles
  local     { includeConfig 'conf/local.config' }
  cluster   { includeConfig 'conf/cluster.config' }
  dynamic   { includeConfig 'conf/dynamic.config' }
  
  // Test profile (Same as default params)
  test {
    params {
      cohorts  = "$SCRATCH/toy-datasets/cohort-counts/cohorts_info.csv"
    }
  }

  // Test on gh-action
  gha {
    params {
      cohorts  = "input/cohorts_info.csv"
    }
  }
}
