
singularity {
  enabled = true
  autoMounts = true
}

params {
  // Containers
  bcftools      = 'bcftools.1.19'
  samtools      = 'samtools.1.9'
  bioconductor  = 'bioconductor.3.19'
  rocker        = 'rocker/tidyverse:latest'
  rvs           = 'rvs.1.24.0'

  // Default params
  // cohorts_info  = "$SCRATCH/toy-datasets/cohort-counts/cohorts_info.csv"
  // cohorts       = "$SCRATCH/toy-datasets/cohort-counts/*.aggregate.tsv"
}

profiles {
  // Resource profiles
  local     { includeConfig 'conf/local.config' }
  cluster   { includeConfig 'conf/cluster.config' }
  dynamic   { includeConfig 'conf/dynamic.config' }
  
  // Test profile (Same as default params)
  test {
    params {
      cohorts_info  = "$SCRATCH/toy-datasets/cohort-counts/cohorts_info.csv"
      cohorts       = "$SCRATCH/toy-datasets/cohort-counts/*.aggregate.tsv"
    }
  }

  // Test on gh-action
  gha {
    params {
      cohorts_info  = "input/cohorts_info.csv"
      cohorts       = "input/*.aggregate.tsv"
    }
  }
}
