// Cluster: Hard coded resource configurations to run on slurm cluster
// Date: 14/02/2024
// Author: Mahmoud Ahmed <mahmoud.ahmed@icr.ac.uk>

process {
    executor        = "slurm"
    scratch         = false
    maxRetries      = 3
    errorStrategy   = { task.exitStatus in [1,137,134,255,250] ? 'retry' : 'terminate' }

    withLabel: simple {
        cpus        = { 1 * task.attempt }
        queue       = 'compute'
        executor    = 'slurm'
        time        = '4h'
    }

    withLabel: heavy {
        cpus        = { 2 * task.attempt }
        queue       = 'compute'
        executor    = 'slurm'
        time        = '8h'
    }
}

executor {
    name = 'slurm'
    queueSize = 50
}
