// Local: Hard coded resource configurations to run locally
// Date: 14/02/2024
// Author: Mahmoud Ahmed <mahmoud.ahmed@icr.ac.uk>

process {
    withLabel: simple {
        cpus = 1
        queue = 'compute'
        time = '12h'
    }

    withLabel: heavy {
        cpus = 2
        queue = 'compute'
        time = '12h'
    }
    
    withLabel: max {
        cpus = 4
        queue = 'compute'
        time = '24h'
    }
}
