// Wild: Hard coded resource configurations to run locally by matching all names
// Date: 14/02/2024
// Author: Mahmoud Ahmed <mahmoud.ahmed@icr.ac.uk>

process {
  executor = "slurm"
  
  withName: '.*' {
    cpus = 4
    memory = 32.GB
  }
  withName:VCFTOOLS_TSTV_COUNT { 
    errorStrategy = 'ignore'
  }
}